// * Styles for DropZone component.

.drop-zone {
  border: dashed #2c3034 3px;
  transition: 200ms all cubic-bezier(0, 0, 1, 1);

  &.is-dropping {
    background-color: rgba(0, 0, 0, .4);
  }
}

// * Uploaded image animation.
.icon-parent {
  position: relative;

  .image-icon {
    transition: 200ms all cubic-bezier(0, 0, 1, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: crimson;
    width: 32px;
    height: 32px;
  }

  img {transition: 200ms all cubic-bezier(0, 0, 1, 1);}

  &:hover {
    img {
      opacity: .3;
    }

    .image-icon {
      transform: translate(-50%, -50%) scale(1);
      z-index: 2;
    }
  }
}